<div class="sidenav-container">
    <div class="logo-container">
        <span class="logo"><img src="../assets/images/ye.jpg" width="15" height="5"> </span>
    </div>

    <ul class="sidenav-nav-item">
        <li><a routerLink ="/dashboards"> Dashboard</a></li>
        <li><a routerLink ="/product"> Products</a></li>
        <li><a routerLink ="/userm"> User Management</a></li>
    </ul>

    <ul class="sidenav-nav-item2">
        <li><a routerLink ="">Settings</a></li>
        <li><a routerLink ="">Logout</a></li>
    </ul>
</div>