.logo {
    padding: 15px;
    text-align: center;
}

.logo img {
    width: 70%; 
    border-radius: 15%; 
}

img{
    align-items: center;
}

.site-header {
    background-color: #A79DCD;
    color: #fff;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.site-header .logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #EEC89A; 
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;

}

a:hover {
    text-decoration: underline;
}


.bg {
    width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(211, 150, 241, 0.7)), url(/assets/images/AllTwice.jpg);
  background-size: cover;
  position: fixed;
  overflow-y: scroll
}
/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card {
  position: relative;
  max-width: 355px;
  width: 100%;
  border-radius: 25px;
  padding: 20px 30px 30px 30px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  overflow: hidden;
  margin: 13% 10%;
}
.product-card .logo-cart{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card .logo-cart img{
  height: 60px;
  width: 60px;
  object-fit: cover;
}
.product-card .logo-cart i{
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}
.product-card .logo-cart i:hover{
  color: #333;
}
.product-card .main-images{
  position: relative;
  height: 180px;
}
.product-card .main-images img{
  position: absolute;
  height: 150px;
  width: 200px;
  object-fit: cover;
  transform: rotate(18deg);
  left: 20%;
  top: 2%;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.product-card .main-images img.active{
  opacity: 3;
}
.product-card .shoe-details .lightstick_name{
  font-size: 24px;
  font-weight: 500;
  color: #161616;
}
.product-card .lightstick-details p{
  font-size: 12px;
  font-weight: 400;
  color: #333;
  text-align: justify;
}
.product-card .lightstick-details .stars i{
  margin: 0 -1px;
  color: #333;
}
.product-card .version-price .version-option{
  display: flex;
  align-items: center;
}
.version-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.version-price .version-option .version{
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}
.version-option  .circles{
  display: flex;
}
.version-option  .circles .circle{
  height: 18px;
  width: 18px;
  background: #0071C7;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.version-option  .circles .circle.blue.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #0071C7;
}
.version-option  .circles .circle.pink{
  background: #FA1795;
}
.version-option  .circles .circle.pink.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #FA1795;
}
.version-option  .circles .circle.yellow{
  background: #F5DA00;
}
.version-option  .circles .circle.yellow.active{
  box-shadow: 0 0 0 2px #fff,
               0 0 0 4px #F5DA00;
}
.version-price .price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.version-price .price .price_num{
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}
.version-price .price .price_letter{
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}
.product-card .button{
  position: relative;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  margin-top: 30px;
  overflow: hidden;
}
.product-card .button .button-layer{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg,#8CD4DB, #A79DCD,#8CD4DB, #A79DCD );
  transition: all 0.4s ease;
  border-radius: 25PX;
}
.product-card .button:hover .button-layer{
  left: 0;
}
.product-card .button button{
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}