<div class="dashboard">
    <div class="content">
        <header>    
            <nav >
                <ul class="login-register dropdown">
                    <button class="dropbtn">User &#9660;</button>
                        <div class="dropdown-content">
                            <a routerLink="/registration">Register</a>
                            <a routerLink="/login">Login</a>
                        </div>
                </ul>
            </nav>
        </header>
    </div>
</div>
